body, html {
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif;
  color: #595959;
  position: relative; }
  body h1, body h2 {
    text-transform: uppercase;
    color: #1f2c34;
    font-family: "Monserrat", sans-serif;
    font-weight: 700;
    border-left: 5px solid #e96b55;
    padding-left: 5%;
    margin-bottom: 3%; }
  body a {
    color: #e96b55; }
    body a:hover {
      color: #5eab99;
      text-decoration: none; }
  body .btn-custom {
    background: transparent;
    border: 2px solid #e96b55;
    border-radius: 25px;
    color: #e96b55;
    font-weight: 600;
    text-transform: uppercase; }
    body .btn-custom:hover {
      border-color: #5eab99;
      color: #5eab99; }
  body .container-fluid {
    padding: 0; }
    body .container-fluid aside {
      padding: 0; }
    body .container-fluid article {
      padding: 3% 2%; }
  body #myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: 2px solid #e96b55;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: transparent;
    /* Set a background color */
    color: #e96b55;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */ }
  body #myBtn:hover {
    background-color: #f0f193;
    /* Add a dark-grey background on hover */ }

.maNav {
  background: #1f2c34; }
  .maNav .navbar-nav a.nav-link {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600; }
    .maNav .navbar-nav a.nav-link:hover {
      color: #5eab99; }
  .maNav .navbar-nav a.nav-link.active {
    color: #5eab99; }

.welcome aside {
  background: url("../images/01-Image.jpg") no-repeat bottom;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }
.welcome article {
  background: #e96b55;
  color: white;
  text-align: center;
  text-transform: uppercase; }
  .welcome article .date {
    padding: 5% 0 7%; }
    .welcome article .date span {
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700; }
  .welcome article .textshadow {
    font-size: 4rem;
    text-shadow: 5px 0px 0px #5eab99; }
  .welcome article .btn-custom {
    color: #f0f193;
    border-color: #f0f193;
    margin-top: 5%; }
    .welcome article .btn-custom:hover {
      color: white;
      border-color: white; }

.about aside {
  background: url("../images/02-Image.jpg") no-repeat center;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.news aside {
  background: url("../images/03-Image.jpg") no-repeat center;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.movie {
  background: #f8d480 url("../images/04-Image.jpg") no-repeat bottom;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }
  .movie .row {
    padding: 3% 2%; }

.booking aside {
  background: url("../images/05-Image.jpg") no-repeat center;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.form-group {
  position: relative; }

.contactPage .col-sm-12 .cardForm {
  margin-bottom: 3%; }

.address h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem; }
.address .contactIcons {
  display: inline-block; }
.address .banContact {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden; }
  .address .banContact img {
    width: 100%;
    position: absolute;
    top: -35%; }
footer .container{
  max-width: 1450px;
  padding-left: 2%;
}
footer {
  background: #2e4047;
  color: white; }
  footer h2 {
    font-size: 1.5rem; }
  footer .footerLinks a {
    display: block;
    color: white; 
    margin-top: 0.5rem;}
    footer .footerLinks a:hover {
      color: #5eab99; }
  footer .social .socialicons a {
    color: white;
    font-size: 1.5rem;
    line-height: 45px;
    margin-right: 5%;
    text-align: center;
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #e96b55;
    border-radius: 45px; }
    footer .social .socialicons a:hover {
      background-color: #5eab99; }
  footer .socketBkg {
    background: #1f2c34;
    width: 100%;
    font-size: 0.8rem; }
    footer .socketBkg p {
      padding: 1% 0%; }
  footer h2 {
    color: white; }
footer .partenaire ul li{
  margin-top: 1rem;
}
.jumbotron {
  background: #5eab99; }
  .jumbotron span {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 700; }

.container-fluid.filmlist {
  padding-top: 3%; }
  .container-fluid.filmlist h3 {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; }
  .container-fluid.filmlist .note {
    color: #e96b55;
    margin: 3% 0%; }
  .container-fluid.filmlist span {
    color: lightgrey;
    padding-right: 2%; }

.film01 aside {
  background: url("../images/01-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film02 aside {
  background: url("../images/02-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film03 aside {
  background: url("../images/03-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film04 aside {
  background: url("../images/04-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film05 aside {
  background: url("../images/05-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film06 aside {
  background: url("../images/06-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film07 aside {
  background: url("../images/07-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film08 aside {
  background: url("../images/08-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film09 aside {
  background: url("../images/09-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film10 aside {
  background: url("../images/10-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film11 aside {
  background: url("../images/11-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.film12 aside {
  background: url("../images/12-films.jpg") no-repeat top;
  background-size: 100% auto;
  height: auto;
  min-height: 200px; }

.infoBlog {
  color: lightgrey;
  font-size: x-small; }

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }

.article .firstImg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px; }
  .article .firstImg img {
    position: absolute; }
.article .infoBlog {
  font-size: 1rem; }

/*# sourceMappingURL=stylescss.css.map */
